<!DOCTYPE html>
<html lang="en">
    <style>
        table, th, td {
          border:1px solid black;
          width:50%;
          margin-left: auto;
          margin-right: auto;
        }
        th {
            height: 70px;
          }
        td
        {
            height: 50px;
        }
        </style>
<head>
    <title>MPG prediction usecase</title>
</head>
<body style="background-color:rgb(77, 177, 110);">
    <h1>the result is:</h1>
    <h1>gender of that employee is:{{gender}}</h1>
    <h1>first name is:{{firstname}}</h1>

    <table class="center">
        <tr>
          <th>GENDER</th>
          <th>FIRST NAME</th>
        </tr>
        <tr>
          <td><h1>{{gender}}</h1></td>
          <td><h1>{{firstname}}</h1></td>
        </tr>
      </table>
</body>
</html>